<div class="hero-unit">
	<h1>Busy lately?</h1>
	<br>
	<p>
		Finding you've got a little too much on your plate? Let's see if this app can help you out!
	</p>
	<br>
	<p>
		<%=link_to "Get Started!", "#", class:"btn btn-primary btn-large" %>
	</p>
</div>


<!--
<div class="hero-unit">
	<h1>Welcome to One Month Rails!</h1>
	<p>
		You've found the home page for the
		<%=link_to "One Month Rails", "http://onemonthrails.com"%>
		application.
	</p>
	<p>
		<%=link_to "Sign up Now!", "#", class: "btn btn-primary btn-large" %>	
	</p>
</div>
-->


<!-- Example using columns:
<div class="row">
	<div class="span4">
	<h1>Navigation Bar</h1>	
	</div>

	<div class="span8">

		<h1>Welcome to One Month Rails!</h1>
		<p>
			You've found the home page for the
			<%=link_to "One Month Rails", "http://onemonthrails.com"%>
			application.
		</p>
		
		<p>
			<%=link_to "Sign up Now!", "#" %>
		</p>
	</div>
</div>

-->



